# Folder container
/deploy/postgresql
/deploy/pgadmin/azurecredentialcache
/deploy/pgadmin/sessions
/deploy/pgadmin/pgadmin4.db
main
/internal/.env
# Folder Mongodb
/deploy/mongodb/db
/deploy/mongodb/mongoconfig

# Remove .DS_Store on mac
.DS_Store
/api/.DS_Store
/assets/s.DS_Store
/build/.DS_Store
/cmd/.DS_Store
/deploy/.DS_Store
/pkg/.DS_Store
/website/.DS_Store